body{
    background-color: #fff;
}
#loading{
    
    left: 50%;
    top: 30%;
    text-align: center;
}
#loading-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFF;
    z-index: 1;
}
#result{
    text-align: center;
}